
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');


*{
  
  font-family: "Sour Gummy", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  
  color: white;
  min-height: 100vh;
  display: grid;
  background: #2c3e50;
}
